<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" routerLink="/start">Portfolio</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
    
        <li *ngIf="!userLoginOn" class="nav-item">
          <a class="nav-link" routerLink="/log-in">Log In</a>
        </li>
        <li *ngIf="!userLoginOn" class="nav-item">
          <a class="nav-link" routerLink="/sign-in">Sign In</a>
        </li>
        <li *ngIf="userLoginOn" class="nav-item">
          <a class="nav-link" routerLink="/start">Sign Out</a>
        </li>
      </ul>
    </div>
  </nav>